<div class="container">
    <h1>{{> page/title}}</h1>
    <form method="get" action="/">
      <button class="astext">
        Uth
      </button>
    </form>
    <hr>
    <br>

    <button class="btn btn-default blue_btn" data-toggle="modal" data-target="#get_experiment">Get Experiment</button>
    


<!--     <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_accounts">Get Accounts</button> -->


    <form method="post" action="/get_clearing">
      <button class="btn btn-default blue_btn">Get Clearing</button>
    </form>

    <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_account_info">Get Account Info</button>

<!--     <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Button Modal</button> -->
    

    <div>

      <br>
      
      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_balance">Get Balance of Account</button>
      
      
      <form method="post" action="/get_peers">
        <button class="btn btn-default green_btn">Get # Peers</button>
      </form>
<!-- 
      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_transactions_by_account">Get Transactions of Account</button> -->

    </div>

 
    <form method="post" action="/get_experiment">
      <div id="get_experiment" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Transactions of Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="22000">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="22500">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_balance">
      <div id="get_balance" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Balance of Account</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0XAD56CEDB7D9EE48B3B93F682A9E2D87F80221768">
                    </div>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_accounts">
      <div id="get_accounts" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Accounts through Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for accounts.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" default="null">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_gas_spent">
      <div id="get_gas_spent" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Gas Spent of Account through Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account">
                    </div>

                    <p>
                      Specify the range of the blocks you want to check for accounts.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" default="null">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>

                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_transactions_by_account">
      <div id="get_transactions_by_account" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Transactions of Account</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="22000">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="22500">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0x43eff48a19e93d7fd4d156b485b7ea79db6579e4">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_account_info">
      <div id="get_account_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Account Info</h4>
                  </div>

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="22000">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="22500">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0x43eff48a19e93d7fd4d156b485b7ea79db6579e4">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/route4">
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Number Input:</label>
                        <input type="number" class="form-control" id="days" name="days" placeholder="Enter number">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                    </div>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Log In" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <br>
    <hr>
    
    {{#if start}}
      <div class="inline"">
        <h4 class="inline leftP">
          Start Block: <b>{{start}}</b>
        </h4>

        <h4 class="inline">
          End Block: <b>{{end}}</b>
        </h4>
      </div>
      <hr>
    {{/if}}


    {{#if account}}
      <h4>Selected Account: <b>{{ account }}</b></h4>
      <hr>
    {{/if}}

    {{#if balance}}
      <div>
        Balance: <b>{{ balance }}</b>
      </div>
      <hr>
    {{/if}}    

    
<!--     <div>
      {{data}}
    </div> -->

    {{#if infoP}}
      <div>
        Number of peers: <b>{{ peers }}</b>
      </div>
    {{/if}}
    
    {{#if data}}
      <table>
        <thead>
            <th>#</th> 
            <th>Account</th> 
            <th>Spent Gas</th> 
            <th># Transactions</th> 
        </thead> 
        <tbody> 
            {{#each data}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td><a href="/account/{{this}}">{{ this }}</a></td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{#if clearings}}
      <table>
      <thead>
          <th>Price</th> 
          <th>Quantity</th> 
          <th>Type</th> 
      </thead> 
      <tbody> 
          <tr>
          {{#each clearings}} 
            <td>{{ this }}</td> 
          {{/each}}
          </tr> 
      </tbody> 
      </table>
    {{/if}}


    {{#if transactions}}
      <table>
        <thead>
            <th>#</th> 
            <th>To</th> 
            <th>Input</th> 
        </thead> 
        <tbody> 
            {{#each transactions}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                <td>{{ this }}</td> 
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>

<!--       <div>
        <h2 style="color: red;">
          <b>No transactions from this account at the specified blocks<b/>
        </h2>
      </div> -->
    {{/if}}

    <!-- {{> page/nav}} -->
</div>
