<div class="container">
    <h1>{{> page/title}}</h1>
    <form method="get" action="/">
      <button class="astext">
        Uth
      </button>
    </form>
    <hr>
    <br>

      
<!--     <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_accounts">Get Accounts</button> -->
      
<!--     <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Button Modal</button> -->
    <div>

      <button class="btn btn-default blue_btn" data-toggle="modal" data-target="#get_experiment">Get Experiment</button>

      <button class="btn btn-default blue_btn" data-toggle="modal" data-target="#get_clearing_through_time">Get Clearing Through Blocks</button>

      <form method="post" action="/get_clearing">
        <button class="btn btn-default blue_btn">Last Block Clearing</button>
      </form>
    </div>

    <div>
      <br>
      <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_contract_details">Get Contracts</button>

      <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_transaction_info">Get Transaction Info</button>

      <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_account_gas_spent">Get Gas Spent of Account</button>
    </div>
    

    <div>

      <br>
      
      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_balance">Get Balance of Account</button>
      
      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_account_info">Get Account Info</button>

      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_block_info">Get Block</button>

      <form method="post" action="/get_peers">
        <button class="btn btn-default green_btn">Get # Peers</button>
      </form>
    </div>

    {{!-- FORMS
    ######################################################################################
    ######################################################################################
    ######################################################################################
    ###################################################################################### --}}

    <form method="post" action="/get_experiment">
      <div id="get_experiment" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Transactions of Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_balance">
      <div id="get_balance" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Balance of Account</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0XAD56CEDB7D9EE48B3B93F682A9E2D87F80221768">
                    </div>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_accounts">
      <div id="get_accounts" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Accounts through Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for accounts.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_account_gas_spent">
      <div id="get_account_gas_spent" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Gas Spent of Account through Specified Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0XAD56CEDB7D9EE48B3B93F682A9E2D87F80221768">
                    </div>

                    <p>
                      Specify the range of the blocks you want to check for accounts.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>

                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_clearing_through_time">
      <div id="get_clearing_through_time" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Clearing Through Blocks</h4>
                  </div>

                 

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>


                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_account_info">
      <div id="get_account_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Account Info</h4>
                  </div>

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for transactions.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0XAD56CEDB7D9EE48B3B93F682A9E2D87F80221768">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_block_info">
      <div id="get_block_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Block Info</h4>
                  </div>

                  <div class="modal-body">

                    <div class="form-group">
                        <label for="pwd">Block:</label>
                        <input type="number" class="form-control" id="block" name="block" placeholder="Enter number" value="">
                    </div>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_contract_details">
      <div id="get_contract_details" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Contracts Details Through Blocks</h4>
                  </div>

                  <div class="modal-body">
                    <p>
                      Specify the range of the blocks you want to check for Contracts.
                    </p>

                    <p>
                      You can leave <b>End Block</b> blank to check until the last block.
                    </p>

                    <div class="form-group">
                        <label for="pwd">Start Block:</label>
                        <input type="number" class="form-control" id="start_block" name="start_block" placeholder="Enter number" value="{{start}}">
                    </div>

                    <div class="form-group">
                        <label for="pwd">End Block:</label>
                        <input type="number" class="form-control" id="end_block" name="end_block" placeholder="Enter number" value="{{end}}">
                    </div>

                    <p style="color: red;">
                      If the range of the blocks is too big, there is high possibility that the ethereum Node can't answer. Just specify a smaller range of blocks.
                    </p>
                  </div>

                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_transaction_info">
      <div id="get_transaction_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Transaction Info</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Hash of Transaction:</label>
                        <input class="form-control" id="hash" name="hash" placeholder="Enter hash" value="">
                    </div>
                  </div>

                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    {{!--  VIEWS
    ######################################################################################
    ######################################################################################
    ######################################################################################
    ###################################################################################### --}}

    <form method="post" action="/route4">
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Number Input:</label>
                        <input type="number" class="form-control" id="days" name="days" placeholder="Enter number">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                    </div>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Log In" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <br>
    <hr>

    {{#if clearingTT}}
      <div id="price_chart" data-for="{{clearingTT}}" class="center"></div>
    {{/if}}

    {{!-- <div id="bids_chart" class="center"></div> --}}
    

    {{!-- BLOCKS START/END --}}
    {{#if start}}
      <div class="flex-item-with-addons">
        
        <div class="flex-main-item">
          <h4>Start Block: <b>{{start}}</b></h4>
        </div>

        <div class="flex-main-item">
          <h4>End Block: <b>{{end}}</b></h4>
        </div>

      </div>

      <hr>
    {{/if}}

    {{!-- SELECTED ACCOUNT --}}
    {{#if account}}
      <h4>Selected Account: <b>{{ account }}</b></h4>
      <hr>
    {{/if}}

    {{!-- BALANCE - TOTAL GAS SPENT --}}
    {{#if balance}}
      <div class="inline">
        Balance: <b>{{ balance }}</b>
      </div>

      {{#if totalGasSpent}}
        <div class="inline">
          || Total Gas Spent: <b>{{ totalGasSpent }}</b>
        </div>
      {{/if}}
      
      <hr>
    {{/if}}

    

    {{!-- NUMBER OF PEERS --}}
    {{#if infoP}}
      <div>
        Number of peers: <b>{{ peers }}</b>
      </div>
    {{/if}}
    
    {{!-- ACCOUNT - SPENT GAS - # TRANSACTIONS --}}
    {{#if data}}
      <table>
        <thead>
            <th>#</th>
            <th>Account</th>
            <th>Sent Gas (Not Spent)</th>
            <th># Transactions</th>
        </thead> 
        <tbody> 
            {{#each data}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td><a href="/account/{{this}}">{{ this }}</a></td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- CLEARING OF LATEST BLOCK --}}
    {{#if clearings}}
      <table>
      <thead>
          <th>Price</th> 
          <th>Quantity</th> 
          <th>Type</th> 
      </thead> 
      <tbody> 
          <tr>
          {{#each clearings}} 
            <td>{{ this }}</td> 
          {{/each}}
          </tr> 
      </tbody> 
      </table>
    {{/if}}

    {{!-- TRANSACTIONS OF ACCOUNT --}}
    {{#if transactions}}
      <table>
        <thead>
            <th>#</th> 
            <th>Hash</th>
            <th>To</th>
            <th>Input</th> 
        </thead> 
        <tbody> 
            {{#each transactions}} 
              <tr>
                <td>{{ @index }}</td>
                {{#each this}}
                    {{#if @index}}
                      <td>{{ this }}</td>
                    {{else}}
                      <td><a href="/get_transaction/{{this}}">{{ this }}</a></td>
                    {{/if}}
                {{/each}}
              </tr>
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- GET CONTRACT DETAILS --}}
    {{#if contracts}}

      {{#each contracts}}
        <h3>Contract {{ @index }}</h3>

        <table>
          <thead>
              <th class="center_text">Attribute</th> 
              <th class="center_text">Value</th>
          </thead> 
          <tbody> 
                <tr>
                    <td>blockHash</td>
                    <td>{{ this.blockHash }}</td>
                </tr>
                <tr>
                    <td>blockNumber</td>
                    <td>{{ this.blockNumber }}</td>
                </tr>
                <tr>
                    <td>transactionHash</td>
                    <td>{{ this.transactionHash }}</td>
                </tr>
                <tr>
                    <td>transactionIndex</td>
                    <td>{{ this.transactionIndex }}</td>
                </tr>
                <tr>
                    <td>from</td>
                    <td>{{ this.from }}</td>
                </tr>
                <tr>
                    <td>to</td>
                    <td>{{ this.to }}</td>
                </tr>
                <tr>
                    <td>contractAddress</td>
                    <td>{{ this.contractAddress }}</td>
                </tr>
                <tr>
                    <td>cumulativeGasUsed</td>
                    <td>{{ this.cumulativeGasUsed }}</td>
                </tr>
                <tr>
                    <td>gasUsed</td>
                    <td>{{ this.gasUsed }}</td>
                </tr>
          </tbody>
        </table>
      {{/each}}
    {{/if}}    

    {{!-- GET TRANSACTION INFO --}}
    {{#if transaction_info}}
      <table>
        <thead>
            <th class="center_text">Attribute</th> 
            <th class="center_text">Value</th>
        </thead> 
        <tbody> 
              <tr>
                  <td>blockHash</td>
                  <td>{{ transaction_info.blockHash }}</td>
              </tr>
              <tr>
                  <td>blockNumber</td>
                  <td>{{ transaction_info.blockNumber }}</td>
              </tr>
              <tr>
                  <td>transactionHash</td>
                  <td>{{ transaction_info.transactionHash }}</td>
              </tr>
              <tr>
                  <td>transactionIndex</td>
                  <td>{{ transaction_info.transactionIndex }}</td>
              </tr>
              <tr>
                  <td>from</td>
                  <td>{{ transaction_info.from }}</td>
              </tr>
              <tr>
                  <td>to</td>
                  <td>{{ transaction_info.to }}</td>
              </tr>
              <tr>
                  <td>contractAddress</td>
                  <td>{{ transaction_info.contractAddress }}</td>
              </tr>
              <tr>
                  <td>cumulativeGasUsed</td>
                  <td>{{ transaction_info.cumulativeGasUsed }}</td>
              </tr>
              <tr>
                  <td>gasUsed</td>
                  <td>{{ transaction_info.gasUsed }}</td>
              </tr>
        </tbody>
      </table>
    {{/if}}
  
    {{!-- GET GAS SPENT OF ACCOUNT --}}
    {{#if arrayBlockGasSpent}}
      <div id="array_block_gas_spent_chart" data-for="{{arrayBlockGasSpent}}" class="center"></div>
    {{/if}}

    {{!-- GET BLOCK INFO --}}
    {{#if blockInfo}}
      <table>
        <thead>
            <th class="center_text">Attribute</th> 
            <th class="center_text">Value</th>
        </thead> 
        <tbody> 
              <tr>
                  <td>number</td>
                  <td>{{ blockInfo.number }}</td>
              </tr>
              <tr>
                  <td>hash</td>
                  <td>{{ blockInfo.hash }}</td>
              </tr>
              <tr>
                  <td>parentHash</td>
                  <td>{{ blockInfo.parentHash }}</td>
              </tr>
              <tr>
                  <td>nonce</td>
                  <td>{{ blockInfo.nonce }}</td>
              </tr>
              <tr>
                  <td>difficulty</td>
                  <td>{{ blockInfo.difficulty }}</td>
              </tr>
              <tr>
                  <td>totalDifficulty</td>
                  <td>{{ blockInfo.totalDifficulty }}</td>
              </tr>
              <tr>
                  <td>size</td>
                  <td>{{ blockInfo.size }}</td>
              </tr>
              <tr>
                  <td>gasLimit</td>
                  <td>{{ blockInfo.gasLimit }}</td>
              </tr>
              <tr>
                  <td>gasUsed</td>
                  <td>{{ blockInfo.gasUsed }}</td>
              </tr>
              <tr>
                  <td>timestamp</td>
                  <td>{{ blockInfo.timestamp }}</td>
              </tr>
        </tbody>
      </table>
    {{/if}}

    {{!-- CLEARING THROUGH TIME --}}
{{!--     {{#if clearingTT}}
      <table>
      <thead>
          <th>Block</th> 
          <th>Price</th> 
          <th>Quantity</th> 
          <th>Type</th> 
      </thead> 
      <tbody> 
          {{#each clearingTT}} 
            <tr>
              {{#each this}}
                <td>{{ this }}</td>
              {{/each}}
            </tr>
          {{/each}}
      </tbody> 
      </table>
    {{/if}}
 --}}

 
    {{!-- <div>
      <h2 style="color: red;">
        <b>No transactions from this account at the specified blocks<b/>
      </h2>
    </div> --}}

    <!-- {{> page/nav}} -->
</div>

{{!--         BLOCK ATTR

        sha3Uncles 32 Bytes - String: SHA3 of the uncles data in the block.
        logsBloom 256 Bytes - String: The bloom filter for the logs of the block. null when its pending block.
        transactionsRoot 32 Bytes - String: The root of the transaction trie of the block
        stateRoot 32 Bytes - String: The root of the final state trie of the block.
        miner - String: The address of the beneficiary to whom the mining rewards were given.

        extraData - String: The “extra data” field of this block.


        transactions - Array: Array of transaction objects, or 32 Bytes transaction hashes depending on the returnTransactionObjects parameter.
        uncles - Array: Array of uncle hashes.

 --}}