<div class="container">
    <h1>{{> page/title}}</h1>
    <form method="get" action="/">
      <button class="astext">
        Uth
      </button>
    </form>
    <button class="btn btn-default round" data-toggle="modal" data-target="#tips_modal">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    
    <hr>

    <div class="center_live">
      <div class="pad_right">
        Date: <b id="date"> </b>
      </div>
      <div class="pad_right">
        Difficulty: <b id="difficulty"> </b>
      </div>
      <div class="pad_right">
        Gas Limit: <b id="gasLimit"></b> 
      </div>
      <div class="pad_right">
        Gas Used: <b id="gasUsed"></b> 
      </div>
      <div class="pad_right">
        Gas Price: <b id="gas"></b> 
      </div>
    </div>

    <hr>

    <p>Last Block: <b id="date">{{ lastBlock }}</b></p>

    <form method="post" action="/get">
      <div class="form-inline">
        <input type="number" class="form-control" id="start_block1" name="start_block" placeholder="From block:(to-1000)" value="{{start}}">
        <input type="number" class="form-control" id="end_block1" name="end_block" placeholder="To block:(blank=last)" value="{{end}}">
        <input type="string" class="form-control" id="contract" name="contract" placeholder="Contract | Account (optional)" value="">

        <input type="string" class="form-control" id="nickname" name="nickname" placeholder="Nickname of hex(optional)" value="">

        <input type="string" class="hide" id="id_function" name="id_function">

        <input type="submit" value="Get" id="submit_global" class="btn btn-default hide" ></input>
      </div>
    </form>

    {{#if previous_contracts_accounts}}
      <div class="dropdown inline">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">History
        <span class="caret"></span></button>
        <ul class="dropdown-menu" data-for="{{previous_contracts_accounts}}">
          {{#each previous_contracts_accounts}}
            {{#if this.name}}
              <li><a href="#" class="clickclass" id="{{@index}}">{{this.name}}</a></li>
            {{else}}
              <li><a href="#" class="clickclass" id="{{@index}}">{{this.hex}}</a></li>
            {{/if}}
          {{!-- <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li> --}}
          {{/each}}
        </ul>
      </div>
    {{/if}}


    <hr>
<!--     <button class="btn btn-default red_btn" data-toggle="modal" data-target="#get_accounts">Get Accounts</button> -->
      
    <div>

      {{!-- data-toggle="modal" data-target="#get_experiment" --}}
      <button class="btn btn-default blue_btn" id="get_exp" title="Blocks => Results">
        Get Experiment
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-th-list"></span>
      </button>

      <button class="btn btn-default blue_btn" id="get_trs" title="Blocks => Results">
        Get Transactions
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-th-list"></span>
      </button>

      <button class="btn btn-default blue_btn" id="get_clr" title="Address + Blocks => Chart">
        Get State of Contract at Blocks
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon glyphicon-plus-sign green_btn"></span>
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-stats"></span>
      </button>
      
      {{!-- <form method="post" action="/get_clearing"> --}}
      <button class="btn btn-default blue_btn" id="get_clr_last_block" title="Address => Results">
        State of Contract Now
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-th-list"></span>
      </button>

      <button class="btn btn-default blue_btn" id="sync" title="Sync with specified blocks">
        Sync with Blocks
        <span class="glyphicon glyphicon-refresh"></span>
      </button>


      {{!-- </form> --}}
    </div>

    <div>
      <br>

      <button class="btn btn-default red_btn" id="get_con_details" title="Blocks => Results">
        Get Contracts
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-th-list"></span>
      </button>

      <button class="btn btn-default red_btn" id="gas_per_block" title="Blocks => Results">
        Gas Per Block
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-stats"></span>
      </button>

      <button class="btn btn-default red_btn" id="get_account_gas_spent" title="Address + Blocks => Chart">
        Get Gas Spent of Account
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon glyphicon-plus-sign green_btn"></span>
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-stats"></span>
      </button>

      <button class="btn btn-default red_btn" id="get_balance_account_per_block" title="Address + Blocks => Chart">
        Get Balance of Account per block
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon glyphicon-plus-sign green_btn"></span>
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-stats"></span>
      </button>

      <button class="btn btn-default red_btn" id="get_transactions_per_block" title="Blocks => Chart">
        Get Transactions Per Block
        <span class="glyphicon glyphicon-hdd"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-stats"></span>
      </button>
    </div>
    

    <div>

      <br>
      
      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_block_info">Get Block</button>

      <button class="btn btn-default green_btn" data-toggle="modal" data-target="#get_transaction_info" title="Address => Results">
        Get Transaction Info
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="glyphicon glyphicon-arrow-right green_btn"></span>
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      
      <button class="btn btn-default green_btn" id="get_account_info">Get Account Info</button>

      <form method="post" action="/get_peers">
        <button class="btn btn-default green_btn">Get # Peers</button>
      </form>
    </div>

    {{!-- FORMS
    ######################################################################################
    ######################################################################################
    ######################################################################################
    ###################################################################################### --}}
    {{!-- UNUSED - UNCOMMENT ROUTER TO USE --}}
    <form method="post" action="/get_balance">
      <div id="get_balance" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Balance of Account</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Account in Hex:</label>
                        <input type="string" class="form-control" id="account" name="account" placeholder="Enter account" value="0XAD56CEDB7D9EE48B3B93F682A9E2D87F80221768">
                    </div>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_block_info">
      <div id="get_block_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Block Info</h4>
                  </div>

                  <div class="modal-body">

                    <div class="form-group">
                        <label for="pwd">Block:</label>
                        <input type="number" class="form-control" id="block" name="block" placeholder="Enter number" value="">
                    </div>

                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <form method="post" action="/get_transaction_info">
      <div id="get_transaction_info" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Get Transaction Info</h4>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                        <label for="pwd">Hash of Transaction:</label>
                        <input class="form-control" id="hash" name="hash" placeholder="Enter hash" value="">
                    </div>
                  </div>

                  <div class="modal-footer">
                      <input type="submit" value="Get" class="btn btn-default" ></input>
                  </div>

              </div>
          </div>
      </div>
    </form>

    <div id="tips_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Tips</h4>
              </div>

              <div class="modal-body">
                <h3 class="blue_btn">Gas Limit of Block - Gas (Sent) - Gas Used</h3>
                  <p>
                    <b>"gasLimit":</b> set in the genesis file when initializing your private network. This var sets the limit of gas that a block can contain. A block contains a number of transactions that each one costs some gas. The cumulative (subtotal) gas of those transactions must be less than the gasLimit. This limit is a variable that is constantly changing from blockchain itself.
                  </p>
                  <br>
                  <p>
                    <b>"gas":</b> is an attribute in a transaction that represents the number of gas that the user specified, to be sent for this transaction. (It is NOT the gas that the transaction will cost)
                  </p>
                  <br>
                  <p>
                    <b>"gasUsed":</b> is an attribute in a transaction receipt (mined ts) and represents the needed gas of the executed transaction.
                  </p>

                <br>
                <h4 class="blue_btn">Extra Info</h4>

                  <p>
                    If the <b>"gas"</b> isn't specified from the user it will be set to <b>90.000</b> by default. This may drive to a silent error. If the cost of a transaction to be executed is higher, then the transaction will not be executed (the code) but it will be mined.
                  </p>
                  
                  <br>

                  <p>
                    The <b>"gasLimit"</b> is changing from the blockchain core. If you set the gasLimit in your genesis a very big number it will decrease gradually.
                  </p>

                <br>
                <h4 class="blue_btn">Silent Bug Scenarios</h4>

                  <p>
                    1) A specific transaction (ts) costs <b>120.000</b> (not known, hypothesis), for example a call to a function of a contract. If the user will not specify the <b>"gas"</b> then the <b>"gas"</b> value will be <b>90.000</b> by default, which is insufficient for the transaction to be executed. The transaction will be mined and the attribute <b>"gasUsed"</b> in the transaction receipt will be <b>90.000</b> but the code will not be executed (the gas will be charged). You can't possibly know how much the transaction will cost. Thus, if you see the default value of <b>"gas"</b> in such a scenario your transaction didn't change the state of the contract (called the function). To avoid such silent errors you must specify a much higher <b>"gas"</b> value when you sent your transaction, but this may occur another silent error (scenario 3)
                  </p>
                  <br>
                  <p>
                    2) Everything same with the previous scenario except that now the user sents "gas" equivalent to <b>110.000</b>. The same silent error will occur because the computetional cost is <b>120.000</b> which is higher than the specified <b>"gas"</b> tha was sent. The <b>"gasUsed"</b> attribute in the transaction receipt will now be <b>110.000</b>. The solution is the same with scenario (1).
                  </p>
                  
                  <p>
                    2.1) How to detect quickly scenarios (1,2): Check if the <b>"gasUsed"</b> attribute in the transaction receipt is the same with the <b>"gas"</b> you sent (<b>90.000</b> if you didn't specified it)
                  </p>
                  <br>
                  <p>
                    3) The solution of the previous scenarios is to always set a high <b>"gas"</b> value, but this may conflict with the <b>"gasLimit"</b>. If the <b>"gas"</b> you specified is higher from the <b>"gasLimit"</b> then your transaction will be aborted. You may think that by setting a really high <b>"gasLimit"</b> the problem will be solved, but as i mentioned earlier the <b>"gasLimit"</b> is changing by the core of blockchain. This silent error is more rare than the previous but it may occur. There is no efficient solution but one is to use the provided chart <b>"Get Gas Spent of Account"</b> to check the values of the <b>"gasLimit"</b>. After running a long enough simulation you can find the minimun value of the <b>"gasLimit"</b> and set the gas you send between the most costly transaction and the minimun <b>"gasLimit"</b>.
                  </p>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>

          </div>
      </div>
    </div>

    {{!--  VIEWS
    ######################################################################################
    ######################################################################################
    ######################################################################################
    ###################################################################################### --}}

    <br>
    <hr>

    {{!-- GET CLEARINGS --}}
    {{#if clearingTT}}
      <div id="price_chart" data-for="{{clearingTT}}" class="center"></div>

      <h2 class="red_btn">
        Data Table
      </h2>
      <table>
        <thead>
            <th>#</th>
            <th>Block</th>
            <th>Time</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Contract</th>
        </thead> 
        <tbody> 
            {{#each clearingTT}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td>{{ this }}</td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- GET GAS SPENT OF ACCOUNT --}}
    {{#if arrayBlockGasSpent}}
      <div id="array_block_gas_spent_chart" data-for="{{arrayBlockGasSpent}}" class="center"></div>
    {{/if}}

    {{!-- GET TRANSACTIONS PER BLOCK --}}
    {{#if transactionsPerBlock}}
      <div id="transactions_per_block_chart" data-for="{{transactionsPerBlock}}" class="center"></div>
    {{/if}}

    {{!-- GET GAS PER BLOCK --}}
    {{#if gasPerBlock}}
      <div id="gas_per_block_chart" data-for="{{gasPerBlock}}" class="center"></div>
    {{/if}}

    {{!-- GET BALANCE OF ACCOUNT PER BLOCK --}}
    {{#if balanceArray}}
      <div id="balance_of_account_per_block_chart" data-for="{{balanceArray}}" class="center"></div>
    {{/if}}
    

    {{!-- BLOCKS START/END --}}
    {{#if start}}
      <div class="flex-item-with-addons">
        
        <div class="flex-main-item">
          <h4>Start Block: <b>{{start}}</b></h4>
        </div>

        <div class="flex-main-item">
          <h4>End Block: <b>{{end}}</b></h4>
        </div>

      </div>

      <hr>
    {{/if}}

    {{!-- SELECTED ACCOUNT --}}
    {{#if account}}
      <h4>Selected Account: <b>{{ account }}</b></h4>
      <hr>
    {{/if}}

    {{!-- BALANCE - TOTAL GAS SPENT --}}
    {{#if balance}}
      <div class="inline">
        Balance: <b>{{ balance }}</b>
      </div>

      {{#if totalGasSpent}}
        <div class="inline">
          || Total Gas Spent: <b>{{ totalGasSpent }}</b>
        </div>
      {{/if}}


      {{#if totalTransactions}}
        <div class="inline">
          || Total # of Transactions: <b>{{ totalTransactions }}</b>
        </div>
      {{/if}}      
      <hr>
    {{/if}}

    {{!-- GET CLEARINGS --}}
    {{#if clearingTT}}
      <h2 class="red_btn">
        Data Table
      </h2>
      <table>
        <thead>
            <th>#</th>
            <th>Block</th>
            <th>Time</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Contract</th>
        </thead> 
        <tbody> 
            {{#each clearingTT}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td>{{ this }}</td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- GET GAS PER BLOCK DATA --}}
    {{#if gasPerBlock}}
      <h2 class="red_btn">
        Data Table
      </h2>
      <table>
        <thead>
            <th>#</th>
            <th>Block</th>
            <th>Gas</th>
        </thead> 
        <tbody> 
            {{#each gasPerBlock}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td>{{ this }}</td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- SILENT BUGS --}}
    {{#if silentBugs}}
      <h2 class="red_btn">
        Found Rolled Back Transcations
      </h2>
      <table>
        <thead>
            <th>#</th>
            <th>hash</th>
            <th>Gas Sent</th>
            <th>Gas Used</th>
        </thead> 
        <tbody> 
            {{#each silentBugs}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td><a href="/get_transaction/{{this}}">{{ this }}</a></td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
      <hr>
      {{!-- <br> --}}
    {{/if }}
    
    {{#if totalTrans}}
      <div>
        Total # of Transactions: <b>{{ totalTrans }}</b>
      </div>
    {{/if}}

    {{#if noData}}
      <h4 class="red_btn">{{ noData }}</h4>
    {{/if}}


    

    {{!-- NUMBER OF PEERS --}}
    {{#if infoP}}
      <div>
        Number of peers: <b>{{ peers }}</b>
      </div>
    {{/if}}
    
    {{!-- ACCOUNT - SPENT GAS - # TRANSACTIONS --}}
    {{#if data}}
      <table>
        <thead>
            <th>#</th>
            <th>Account</th>
            <th>Gas Spent</th>
            <th># Transactions</th>
        </thead> 
        <tbody> 
            {{#each data}} 
            <tr>
              <td>{{ @index }}</td>
              {{#each this}}
                {{#if @index}}
                  <td>{{ this }}</td>
                {{else}}
                  <td><a href="/account/{{this}}">{{ this }}</a></td>
                {{/if}}
              {{/each}}
            </tr> 
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- CLEARING OF LATEST BLOCK --}}
    {{#if clearings}}
      <table>
      <thead>
          <th>Price</th> 
          <th>Quantity</th> 
          <th>Type</th> 
      </thead> 
      <tbody> 
          <tr>
          {{#each clearings}} 
            <td>{{ this }}</td> 
          {{/each}}
          </tr> 
      </tbody> 
      </table>
    {{/if}}

    {{!-- TRANSACTIONS OF ACCOUNT --}}
    {{#if transactions}}
      <table>
        <thead>
            <th>#</th>
            <th>Hash of Transaction</th>
            <th>Block</th>
            <th>Gas Used</th>
            <th>To</th>
            <th>Input (Function + Args)</th> 
        </thead> 
        <tbody>
            {{#each transactions}}
            {{#if this.bug}}
              <tr class="red_btn">
                <td>{{ @index }}</td>
                <td><a href="/get_transaction/{{this.hash}}">{{ this.hash }}</a></td>
                <td>{{ this.blockNumber }}</td>
                <td>{{ this.gasUsed }}</td>
                <td>{{ this.to }}</td>
                <td>{{ this.input }}</td>
              </tr>
            {{else}}
              <tr>
                <td>{{ @index }}</td>
                <td><a href="/get_transaction/{{this.hash}}">{{ this.hash }}</a></td>
                <td>{{ this.blockNumber }}</td>
                <td>{{ this.gasUsed }}</td>
                <td>{{ this.to }}</td>
                <td>{{ this.input }}</td>
              </tr>
            {{/if}}
            {{/each}}
        </tbody> 
      </table>
    {{/if}}

    {{!-- ALL TRANSACTIONS --}}
    {{#if transactionsAll}}
      <table>
        <thead>
            <th>#</th>
            <th>Block</th>
            <th>Hash of Transaction</th>
            <th>To</th>
            <th>Input (Function + Args)</th> 
        </thead> 
        <tbody>
            {{#each transactionsAll}}
              <tr>
                <td>{{ @index }}</td>
                <td>{{ this.block }}</td>
                <td><a href="/get_transaction/{{this.hash}}">{{ this.hash }}</a></td>
                <td>{{ this.to }}</td>
                <td>{{ this.input }}</td>
              </tr>
            {{/each}}
        </tbody> 
      </table>
    {{/if}}
    

    {{!-- GET CONTRACT DETAILS --}}
    {{#if contracts}}

      {{#each contracts}}
        <h3>Contract {{ @index }}</h3>

        <table>
          <thead>
              <th class="center_text">Attribute</th> 
              <th class="center_text">Value</th>
          </thead> 
          <tbody> 
                <tr>
                    <td>blockHash</td>
                    <td>{{ this.blockHash }}</td>
                </tr>
                <tr>
                    <td>blockNumber</td>
                    <td>{{ this.blockNumber }}</td>
                </tr>
                <tr>
                    <td>transactionHash</td>
                    <td>{{ this.transactionHash }}</td>
                </tr>
                <tr>
                    <td>transactionIndex</td>
                    <td>{{ this.transactionIndex }}</td>
                </tr>
                <tr>
                    <td>from</td>
                    <td>{{ this.from }}</td>
                </tr>
                <tr>
                    <td>to</td>
                    <td>{{ this.to }}</td>
                </tr>
                <tr>
                    <td>contractAddress</td>
                    <td>{{ this.contractAddress }}</td>
                </tr>
                <tr>
                    <td>cumulativeGasUsed</td>
                    <td>{{ this.cumulativeGasUsed }}</td>
                </tr>
                <tr>
                    <td>gasUsed</td>
                    <td>{{ this.gasUsed }}</td>
                </tr>
          </tbody>
        </table>
      {{/each}}
    {{/if}}    

    {{!-- GET TRANSACTION INFO --}}
    {{#if transaction_info}}
      <table>
        <thead>
            <th class="center_text">Attribute</th> 
            <th class="center_text">Value</th>
        </thead> 
        <tbody> 
              <tr>
                  <td>blockHash</td>
                  <td>{{ transaction_info.blockHash }}</td>
              </tr>
              <tr>
                  <td>blockNumber</td>
                  <td><a href="/get_block/{{transaction_info.blockNumber}}">{{ transaction_info.blockNumber }}</a></td>
              </tr>
              <tr>
                  <td>transactionHash</td>
                  <td>{{ transaction_info.transactionHash }}</td>
              </tr>
              <tr>
                  <td>transactionIndex</td>
                  <td>{{ transaction_info.transactionIndex }}</td>
              </tr>
              <tr>
                  <td>from</td>
                  <td><a href="/account/{{ transaction_info.from }}">{{ transaction_info.from }}</a></td>
              </tr>
              <tr>
                  <td>to</td>
                  <td>{{ transaction_info.to }}</td>
              </tr>
              <tr>
                  <td>input</td>
                  <td>{{ transaction_info.input }}</td>
              </tr>
              <tr>
                  <td>contractAddress</td>
                  <td>{{ transaction_info.contractAddress }}</td>
              </tr>
              <tr>
                  <td>cumulativeGasUsed</td>
                  <td>{{ transaction_info.cumulativeGasUsed }}</td>
              </tr>
              <tr>
                  <td>gasUsed</td>
                  <td>{{ transaction_info.gasUsed }}</td>
              </tr>
              <tr>
                  <td>gasPrice</td>
                  <td>{{ transaction_info.gasPrice }}</td>
              </tr>
        </tbody>
      </table>
    {{/if}}

    {{!-- GET BLOCK INFO --}}
    {{#if blockInfo}}
      <table>
        <thead>
            <th class="center_text">Attribute</th> 
            <th class="center_text">Value</th>
        </thead> 
        <tbody> 
              <tr>
                  <td>number</td>
                  <td>{{ blockInfo.number }}</td>
              </tr>
              <tr>
                  <td>hash</td>
                  <td>{{ blockInfo.hash }}</td>
              </tr>
              <tr>
                  <td>parentHash</td>
                  <td>{{ blockInfo.parentHash }}</td>
              </tr>
              <tr>
                  <td>transactions</td>
                  <td>{{ blockInfo.transactions.length }}</td>
              </tr>
              <tr>
                  <td>nonce</td>
                  <td>{{ blockInfo.nonce }}</td>
              </tr>
              <tr>
                  <td>difficulty</td>
                  <td>{{ blockInfo.difficulty }}</td>
              </tr>
              <tr>
                  <td>totalDifficulty</td>
                  <td>{{ blockInfo.totalDifficulty }}</td>
              </tr>
              <tr>
                  <td>size</td>
                  <td>{{ blockInfo.size }}</td>
              </tr>
              <tr>
                  <td>gasLimit</td>
                  <td>{{ blockInfo.gasLimit }}</td>
              </tr>
              <tr>
                  <td>gasUsed</td>
                  <td>{{ blockInfo.gasUsed }}</td>
              </tr>
              <tr>
                  <td>timestamp</td>
                  <td>{{ blockInfo.timestamp }}</td>
              </tr>
              <tr>
                  <td>sha3Uncles</td>
                  <td>{{ blockInfo.sha3Uncles }}</td>
              </tr>
              {{!-- <tr>
                  <td>logsBloom</td>
                  <td>{{ blockInfo.logsBloom }}</td>
              </tr> --}}
              <tr>
                  <td>transactionsRoot</td>
                  <td>{{ blockInfo.transactionsRoot }}</td>
              </tr>
              <tr>
                  <td>stateRoot</td>
                  <td>{{ blockInfo.stateRoot }}</td>
              </tr>
              <tr>
                  <td>miner</td>
                  <td>{{ blockInfo.miner }}</td>
              </tr>
              <tr>
                  <td>extraData</td>
                  <td>{{ blockInfo.extraData }}</td>
              </tr>
              <tr>
                  <td>uncles</td>
                  <td>{{ blockInfo.uncles }}</td>
              </tr>
        </tbody>
      </table>

      <h4>Transactions of block</h4>
      <table>
        <thead>
          <th class="center_text">#</th> 
          <th class="center_text">Hash of Transaction</th>
        </thead>
        <tbody>
          {{#each blockInfo.transactions}}
            <tr>
                <td>{{ @index }}</td>
                <td><a href="/get_transaction/{{this.hash}}">{{ this.hash }}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

    
    {{#if averageTsPerBlock}}
      Average Number of Ts per Block: <b>{{ averageTsPerBlock }}</b>
    {{/if}}

    {{!-- LIVE CHARTS --}}
    <div class="center_live">

      <div id="diff_chart" class="size_live_chart"></div>

      <div id="gasLimit_chart" class="size_live_chart"></div>

    </div>

    <div class="center_live">

      <div id="ts_number_chart" class="size_live_chart"></div>

      <div id="gasUsed_chart" class="size_live_chart"></div>
      
    </div>
    {{!-- <div>
      <h2 style="color: red;">
        <b>No transactions from this account at the specified blocks<b/>
      </h2>
    </div> --}}

    <!-- {{> page/nav}} -->
</div>
